/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/
/* Our default values set as CSS variables */
:root {
  --color-bg: #FFFFA0;
  --color-text-main: #000000;
  --color-primary: #AFECE0;
  --wrapper-height: 86vh;
  --image-max-width: 320px;
  --font-family: "DejaVuSerifCondensed";
  --font-family-header: "DejaVuSerifCondensed";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

@font-face {
  font-family: DOTCIRFUL;
  font-weight: regular;
  src: url("https://cdn.glitch.global/53ce0b84-77c9-492a-9b7d-5ff4dec3955e/DOTCIRFUL-Component-L3.otf?v=1710963593937")
    format("opentype");
}

@font-face {
  font-family: DejaVuSerifCondensed;
  src: url("https://cdn.glitch.global/53ce0b84-77c9-492a-9b7d-5ff4dec3955e/DejaVuSerifCondensed.ttf?v=1711024054029")
    format("truetype");
}



.divider {
  padding: 0 1rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

/* Page structure */
body {
  font-family: DejaVuSerifCondensed;
  background-color: var(--color-bg);
  overflow-x: auto;
  overflow-y: hidden;
}



.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0rem 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

/* Page titles */
h1 {
  margin: -0.5rem -0.5rem;
  position: static;
  outline: 6px dotted orange;
  color: orange;
  font-family: DOTCIRFUL;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  text-align: left;
  

}
.page h1 {
  font-size: 48px;
}

.page p {
  top: -4rem;
  line-height: 1.5;
}

.page a {
  color: #000;
}

.page a:hover {
  text-decoration: none;
}

/* The React image and "click me" text */
.btn--click-me {
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
}
.btn--click-me:hover {
  text-decoration: underline;
}

/* Very light scaling for our illustration */
.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  cursor: pointer;
  padding-left: 3.5rem;
}


h2 {
  font-family: DOTCIRFUL;
  color: black;

  z-axis: -1;
}

.scroll-container {
  overflow-y: auto;
  max-height: 70vh; /* Adjust the height as needed */
  padding-right: 20px; /* Adjust for scrollbar width */
}

.grid-container {

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.8rem;
  top: -0rem;
  border-radius:0;
  margin-left: -0.4rem;
}

.grid-container2 {

  display: grid;
  grid-template-columns: calc(50vw - 1.2rem) calc(50vw - 1.2rem);
  gap: 1.2rem;
  border-radius:0;
  margin-left: -0.4rem;
  padding-right: 20px;

  
}

.grid-container > * {
  width: calc(33.33vw - 0.8rem); /* Each column takes 33.33vw with gap included */
}



.paragraph1,
.paragraph2,
.paragraph3,
.paragraph4,
.paragraph5,
.paragraph6 {
  position: relative;
  padding: 0.2rem;
  padding-top: 0;
  border-radius: 0;
 
  top: -6rem;
  padding-bottom: -7rem;
  margin-bottom: -8rem;
}

/* Additional styling for paragraph headings */
.paragraph1 h2,
.paragraph2 h2,
.paragraph3 h2,
.paragraph4 h2,
.paragraph5 h2,
.paragraph6 h2 {
  color: black;
}

/* About Project*/
.about-project {
  
  margin: 1rem 1rem 1rem 0;
  color: grey;
  width: calc(50vw - 0.8rem);
  position: fixed;

  
  
}
.about-project p {
  font-size: 1rem;
}
.about-project h2 {
  color: grey;
}

.about-ressources {
  position: fixed;
  left: 50vw;
  margin: 1rem 1rem 1rem 0.5rem;
  width: calc(50vw - 1rem);
}