/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/
/* Our default values set as CSS variables */
:root {
  --color-bg: yellow;
  --color-text-main: #000000;
  --color-primary: #AFECE0;
  --wrapper-height: 100vh;
  --wrapper-width: 233.33vw;
  --image-max-width: 320px;
  --font-family: "DejaVuSerifCondensed";
  --font-family-header: "DejaVuSerifCondensed";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
  
}
[hidden] {
  display: none !important;
}

/* Import fonts */

@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

@font-face {
  font-family: AndersonGrotesk;
  font-weight: regular;
  src: url("https://cdn.glitch.global/53ce0b84-77c9-492a-9b7d-5ff4dec3955e/AndersonGrotesk-Bold.otf?v=1712663509694")
    format("opentype");
}

@font-face {
  font-family: DOTCIRFUL;
  font-weight: regular;
  src: url("https://cdn.glitch.global/53ce0b84-77c9-492a-9b7d-5ff4dec3955e/DOTCIRFUL-Component-L3.otf?v=1710963593937")
    format("opentype");
}

@font-face {
  font-family: DejaVuSerifCondensed;
  src: url("https://cdn.glitch.global/53ce0b84-77c9-492a-9b7d-5ff4dec3955e/DejaVuSerifCondensed.ttf?v=1711024054029")
    format("truetype");
}

@font-face {
  font-family: DejaVuSans;
  src: url("https://cdn.glitch.global/53ce0b84-77c9-492a-9b7d-5ff4dec3955e/DejaVuSans.ttf?v=1712630913028")
    format("truetype");
}

@font-face {
  font-family: Highway;
  font-weight: regular;
  src: url("https://cdn.glitch.global/53ce0b84-77c9-492a-9b7d-5ff4dec3955e/HWYGWDE.TTF?v=1714637991747")
    format("truetype");
}



.divider {
  padding: 0 1rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

/* Page structure */
body {
  font-family: DejaVuSerifCondensed;
  background-color: var(--color-bg);
  
  overflow-x: inherit;
  overflow-y: visible;
  
  min-width: 2330px;
  position: static;
  top:-1rem;
  
}



.wrapper {
  min-height: var(--wrapper-height);
  min-width: var(--wrapper-width);
  display: grid;
  place-items: center;
  margin: 0rem 0rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

/* Page titles */
h1 {
  margin: -0.5rem -0.5rem;
  /* outline: 6px dotted orange;*/
  color: white; /* Set the text color to transparent */
  font-family: DOTCIRFUL;
  font-style: normal;
  font-weight: bold;
  font-size: 130px;
  line-height: 105%;
  text-align: left;
  text-shadow: 4px 4px 3px grey;
  max-width: 95vw;
  position: fixed;
  top: 2rem;
  z-index:-1;
  overflow:none;
  text-align:center;
}
.page h1 {
  font-size: 72px;
}

.page p {
  top: -4rem;
  line-height: 1.5;
}

.page a {
  color: #000;
}

.page a:hover {
  text-decoration: none;
}

/* The React image and "click me" text */
.btn--click-me {
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
}
.btn--click-me:hover {
  text-decoration: underline;
}

/* Very light scaling for our illustration */
.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  cursor: pointer;
  padding-left: 3.5rem;
}


h2 {
  font-family: DOTCIRFUL;
  color: black;

  z-axis: -1;
}

.scroll-container {
  overflow-y: auto;
  max-height: 70vh; /* Adjust the height as needed */
  padding-right: 20px; /* Adjust for scrollbar width */
}

.grid-container {

  display: grid;
  position: static;
  grid-template-columns: repeat(7, 1fr);
  position: relative;
  gap: 0.8rem;
  top: -10.5rem;
  border-radius:0;
  margin-left: -0.4rem;
}

.about-section {

  display: grid;
  position:fixed;
  grid-template-columns: calc(50vw - 1rem) calc(50vw - 1rem);
  gap: 1rem;
  border-radius:0;
  padding-left: 3rem;
  margin: 2rem, 2rem, 2rem, -2rem;
  left: -1rem;
  padding-right: 20px;
  background: linear-gradient(to top, rgba(255, 165, 0, 1), rgba(255, 255, 0, 0));
  top: 27rem;

  
}

.grid-container > * {
  width: calc(33.33vw - 1rem); /* Each column takes 33.33vw with gap included */
}



.paragraph1,
.paragraph2,
.paragraph3,
.paragraph4,
.paragraph5,
.paragraph6 {
  padding: 0.2rem;
  padding-top: 0;
  border-radius: 0;
 
  top: 0rem;
  padding-bottom: -7rem;
  margin-bottom: -6rem;
}

/* Additional styling for paragraph headings */
.paragraph1 mark,
.paragraph2 mark,
.paragraph3 mark,
.paragraph4 mark,
.paragraph5 mark,
.paragraph6 mark {
  color: black;
  background-color: rgba(255,255,255,0.3);
  box-shadow: inset 0 3px 5px rgba(255,255,0,0.5);
}

.paragraph1 p {
  font-family: AndersonGrotesk;
  color: grey;
  
}


.paragraph1 img {
  max-width: 15rem;
  
  position: relative;
  left:+1rem;
  
}

.paragraph1 a {
  color: red;
  -webkit-text-stroke: 1px magenta; /* For webkit browsers like Chrome and Safari */
  text-stroke: 1px pink; /* Standard property */
}



.paragraph2 p {
  font-family: DejaVuSans;
}


.paragraph3 p {
  font-family: HK Grotesk;
}



.paragraph4 p {
  font-family: "Comissioner";
  font-weight:400;
}

/* About Project*/
.about-project {
  
  margin: 1rem 1rem 1rem -2rem;
  color: black;
  width: calc(50vw - 1rem);

  
  padding-left:2rem;
}

.about-section mark {
  background-color: yellow;
}
  
.paragraph5 p {
  font-family: "Highway";
  
}


.about-project p {
  
}
.about-project h2 {
}

.about-ressources {
  left: 50vw;

  margin: 1rem 1rem 1rem 0.5rem;
  width: calc(50vw - 1rem);

}

h2 {
  position: relative;
  top: +0.9rem;
}

/******************************************************************************
ADAPT
******************************************************************************/

@media screen and (max-width: 700px) {
  :root {
  --color-bg: yellow;
  --color-text-main: #000000;
  --color-primary: #AFECE0;
  --wrapper-height: 100vh;
  --wrapper-width: 100vw;
  --image-max-width: 320px;
  --font-family: "DejaVuSerifCondensed";
  --font-family-header: "DejaVuSerifCondensed";
}

.wrapper {
  min-height: var(--wrapper-height);
  min-width: var(--wrapper-width);
  display: grid;
  place-items: center;
  margin: 0rem 0rem;
  right: 1rem;
}  
  
  .grid-container {
    grid-template-columns: 100vw, 100vw, 100vw, 100vw, 100vw, 100vw, 100vw ; /* Change to one column */
    left: 2rem;
  }
  .grid-container > * {
  width: calc(100vw); 
}

  
  body {
  font-family: DejaVuSerifCondensed;
  background-color: var(--color-bg);
  
  overflow-x: inherit;
  overflow-y: visible;
  
  position: static;
  top:-1rem;
  
}




  
  
  .about-section {
    
  }

  .grid-container > * {
    width: calc(90vw - 1rem); /* Adjust width for single column layout */
  }
  
  .about-section > * {
    width: calc(90vw - 1rem); /* Adjust width for single column layout */
  }
}